@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    font-family: 'Roboto', sans-serif;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}


.nav-links li a:hover {
    color: orangered;
    border: solid 2px orangered;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-top: 30px;
}


.logo img {
    width: 200px;
}

.tag-line h2 {
    margin-left: 15rem;
    font-size: 45px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: orangered;
}

.aboutUs {
    color: white;
    padding-left: 16rem;
    margin-top: -2rem;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}

.listings-gallery {
    display: flex;
    justify-content: space-around;
    
}

.card-body h5, .card-body a {
    color: white;
}

.gallery-heading {
    padding-left: 16rem;
    padding-top: 6rem;
    padding-bottom: 5rem;
    color: white;
}

footer {
    color: white;
    width: 100%;
}

footer a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}

footer a:hover {
    color: orangered;
}

.footer-main {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.footer-row1, .footer-row2, .footer-row4, .footer-row5, .footer-row7, .footer-row8  {
    padding-bottom: 15px;
}

.footer-info {
    position: relative;
    bottom: 6rem;
    left: 20rem;
}

.socials {
    position: relative;
    bottom: 12.5rem;
    left: 40rem;
}

footer i {
    padding-right: 0.5rem;
}

button.btn, .cardContainer a.btn {
    background-color: orangered;
}

button.btn:hover, .cardContainer a.btn:hover {
    background-color: lightcoral;
}

.screen-page-header {
    color: white;
    padding-left: 35%;
    margin-bottom: -1rem;
    padding-bottom: 5rem;
}

.standard-screen {
    padding-left: 35%;
    color: white;
}

.deluxe-screen {
    padding-left: 35%;
    padding-top: 3rem;
    color: white;
}

/* FILM PAGES*/

.movie-details img {
    width: 40%;
    margin-left: 30%;
}

.movie-details h2 {
    margin-left: 10%;
    color: white;
}

.movie-details p {
    color: white;
    margin-left: 10%;
}

.date-buttons {
    margin-top: -1rem;
    padding-top: 45px;
}

.screening-times {
    color: orangered;
    padding-left: 10%;
    text-decoration: none;
}



/* ABOUT US PAGE STYLES*/

.aboutus-details {
    color: white;
    padding-left: 25%;
    margin-bottom: -1rem;
}

.aboutus-pageheading {
    padding-left: 20%;
    padding-bottom: 1rem;
}

.aboutUs a {
    background-color: orangered;
}

.aboutUs a:hover {
    background-color: lightcoral;
}

.meet-our-team {
    color: white;
    padding-left: 25%;
    margin-bottom: -1rem;
    padding-top: 2rem;
}

.team-heading {
    padding-left: 20%;
    padding-bottom: 1rem;
}

.team-members img {
    width: 20%;
    height: 20%;
}

.team-members {
    padding-left: 25%;
    padding-top: 2rem;
}

.pam-name-title, .kes-name-title, .akber-name-title, .alex-name-title, .tom-name-title {
    position: relative;
    left: 30%;
    margin-top: -5%;
    color: white;
}

footer {
    margin-top: -1rem;
}

.pam, .kes, .akber, .alex, .tom {
    padding-bottom: 3rem;
    padding-top: 4rem;
}

/*LOGIN PAGE STYLES*/

.login-heading {
    color: white;
    padding-left: 40%;
    margin-bottom: -1rem;
}

form {
    color: white;
    padding-left: 30%;
    padding-top: 5%;
}

.info {
    color: white;
    padding-left: 30%;
    padding-top: 3rem;
}


.login-form input {
    color: white;
    border: 1px solid orangered;
    width: 25rem;
    padding-top: 0.5rem;
    margin-top: 2rem;
}

.login-pwd input {
    color: white;
    border: 1px solid orangered;
    width: 25rem;
    padding-top: 0.5rem;
    margin-top: 2rem;
}

.login-btn input {
    width: 5rem;
    color: white;
    background: orangered;
    margin-top: 2rem;
}

/* LOGOUT PAGE STYLES*/

.logout-heading {
    color: white;
    padding-left: 40%;
}

form input {
    width: 5rem;
    color: white;
    background: orangered;
    margin-top: 2rem;
}

/* SIGN UP PAGE STYLES*/

.existing-user {
    padding-left: 30%;
    padding-top: 3rem;
    color: white;
}

.signup-heading {
    padding-left: 40%;
    color: white;
    margin-bottom: -1rem;
}

.signup-btn input {
    width: 5rem;
    color: white;
    background: orangered;
    margin-top: 3rem;
}

.email-details input, .username-details input, .user-pwd input, .confirm-pwd input {
    color: white;
    border: 1px solid orangered;
    width: 25rem;
    padding-top: 0.5rem;
    margin-top: 2rem;
}

.email-details input {
    margin-left: 6rem;
}

.username-details input {
    margin-left: 3.8rem;
}

.user-pwd input {
    margin-left: 4rem;
}

/* FORUM PAGE STYLES*/

.forum-heading {
    color: white;
    padding-left: 40%;
    margin-bottom: -2rem;
}

table tr td h2 {
    color: white;
    padding-top: 3rem;
}

td {
    color: white;
    padding-top: 2rem;
}

.comment input {
    width: 400px;
} 

/* PAYMENT PAGE */

.payment-heading {
    color: white;
    padding-left: 35%;
    margin-bottom: -2rem;
    padding-bottom: 2rem;
}

.form-input input {
    width: 350px;
}

.paymentpage-movietitle {
    color: white;
    padding-left: 30%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: -1rem;
}

.payment-page-img img {
    margin-left: 29%;
}


/* styles.css */
/* Style the movie list container */
.movie-list {
    text-align: center;
    padding: 20px;
}

/* Style the movie items container */
.movie-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Style each movie item */
.movie-item {
    margin: -2rem;
    padding: 10px;
}

/* Style the movie title */
.movie-title {
    color: orangered;
    font-size: 18px;
}

/* Payment page styling akber */
.movie_pay_detail {
    padding-left: -20%;
    color: white;



}

/* Define the hover effect */
.movie-item:hover {
    transform: scale(1.1);
    filter: brightness(1.2); /* Increase brightness on hover */
}

/* Add a background overlay for the entire site */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Place it above other content */
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Allow interactions with content below */
}

/* Highlight the movie item when it is hovered over */
.movie-item:hover + .overlay {
    opacity: 1; /* Show the overlay on hover */
    pointer-events: auto; /* Allow interactions with the overlay */
}
/* styles.css */
.movie-poster {
    width: 460px; /* Set your desired width */
    height: 700px; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the specified dimensions */
    padding: 15px;
}

/* styles.css */
.date-buttons {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
    padding-left: 10%;
    padding-bottom: 6%;
}

.date-button {
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.date-button:hover {
    background-color: orangered;
}


/* SERVICES PAGE*/
.cinema-services-heading {
    color: white;
    padding-left: 32%;
    margin-bottom: -1rem;
}

.services-paragraph {
    color: white;
    padding-left: 22%;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-bottom: -2rem;
}

.services-menu {
    margin-top: -1rem;
}

.menu-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 100%;
    animation: fadein-bottom 2.5s ease-in-out both;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    color: white;
}

.menu-card:nth-child(2) {
    animation-delay: 0.5s;
}

.menu-card:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fadein-bottom {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.check-mark {
    background: orangered;
    width: 0%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.6s ease-in-out;
}

.price {
    position: relative;
    width: 10%;
    transition: 0.6s ease-in-out;
    transform: translateX(-15px);
    display: flex;
    justify-content: center;
}

.menu-card:hover i {
    animation: rotate 1s forwards;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.menu-card:hover {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.menu-card:hover .check-mark {
    transform: translateX(0%);
    width: 20%;
    
}

.cafe-img img {
    width: 50%;
    margin-left: 21%;
    padding-top: 3rem;
}

.listings-heading {
    color: white;
    padding-bottom: 8rem;
}


/*BOOKING PAGE*/

.bookingpage-heading {
    color: white;
    padding-left: 35%;
    padding-bottom: 3rem;
    margin-bottom: -1rem;
}

.booking-details {
    color: white;
}

.film-title {
    padding-top: 2rem;
    padding-left: 30%;
}

.screening-details {
    margin-bottom: -2rem;
    padding-left: 30%;
    color: white;
}

.booking-details img {
    margin-left: 29%;
    padding-top: 3rem;
}


/* SEARCH BAR*/

.box {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
}

button.searchpage-button {
    margin-bottom: -2rem;
}

.box:hover input {
    width: 200px;
}

.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fas {
    color: orangered;
}









/* MEDIA QUERIES - TABLET*/

@media only screen and (max-width: 992px) {
    .logo {
        width: 15rem;
        
    }

    header {
        display: block;
    }

    .nav-links {
        margin-left: 0rem;
        margin-bottom: -1rem;
        padding-bottom: 3rem;
        font-size: 16px;
    }

    .tag-line h2 {
        margin-left: 12%;
    }

    .aboutUs {
        padding-left: 6%;
    }

    .cardContainer {
        display: flex;
        flex-flow: wrap;
    }

    footer {
        padding-top: 5rem;
    }

    .socials, .footer-info {
        margin-left: -5rem;
        
    }

    .aboutus-details, .meet-our-team  {
        padding-left: 6%;
    }
}


/* MEDIA QUERIES - MOBILE*/

@media only screen and (max-width: 768px) {
    .nav-links ul li a {
        font-size: 14px;
    }

    .logo {
        margin-left: 25%;
    }

    .nav-links li a:hover {
        padding-top: 10px;
    }

    #homeCarousel {
        margin-top: -1rem;
    }


    .tag-line h2 {
        font-size: 2rem;
    }

    .aboutUsHeading {
        margin-left: 25%;
    }

    .aboutus-details, .meet-our-team {
        padding-left: 4%;
    }

    .aboutus-pageparagraph, .our-team-paragraph {
        font-size: 13px;
    }

    .team-members {
        padding-left: 0;
    }

    .pam-img, .kes-img, .akber-img, .tom-img, .alex-img {
        display: none;
    }

    .cardContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-heading {
        padding-left: 25%;
    }

    .listings-gallery {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.movie-item a img {
        width: 100%;
        object-fit: contain;
        
    }

    .socials {
        position: relative;
        left: 25%;
        bottom: 6%;
        padding-top: 2%;
    }

    footer {
        padding-top: 5rem;
    }

    .footer-info {
        margin-left: -20rem;
        margin-top: 10rem;
    }

    .forum-heading {
        font-size: 22px;
        padding-left: 25%;
    }

    form {
        padding-left: 2%;
    }

    .comment input {
        width: 300px;
    }

    input#submit {
        margin-left: 4%;
    }

    .newpost-form {
        padding: 3rem 2rem;
    }

    .login-form input, .login-pwd input {
        width: 20rem;
    }

    div.login-form, div.login-pwd, div.login-btn {
        margin-left: 5%;
        padding-top: 1rem;
    }

    .email-details input, .username-details input, .user-pwd input, .confirm-pwd input {
        margin-left: 5%;
        width: 20rem;
    }

    .email-details label, .username-details label, .user-pwd label, .confirm-pwd label, .signup-btn {
        margin-left: 5%;
    }
}


