{% include 'navbar.html' %}

<body>

    <article class="aboutus-details">

        <div class="aboutus-pageheading">
            <h3>Who We Are</h3>
        </div>

        <p class="aboutus-pageparagraph">
            QA Cinemas is a distinguished cinema chain with a rich legacy spanning over two decades <br> since its establishment in 2004. Renowned in the film industry, our cinemas are celebrated <br> for their unique blend of contemporary blockbusters and exclusive screenings of beloved <br> classics from the 1960s to the 1990s. <br> Our journey began in the vibrant Northwest of England, where we have enjoyed remarkable <br> success. Looking ahead, we are excited to announce our ambitious expansion plans, set to <br> unfold on a national scale in the upcoming years.</p>
        </p>
    </article>

    <article class="meet-our-team">

        <div class="team-heading">
            <h3>Meet Our Team</h3>
        </div>

        <p class="our-team-paragraph">
            Our team is a group of dedicated individuals who share a common passion and a relentless <br> drive to make a difference. We believe that passion is the driving force behind innovation and <br> success, and it's what fuels our work every day. <br> <br> Each member of our team brings their unique expertise and perspective to the table, but <br> what unites us is our shared enthusiasm for what we do. Whether it's developing cutting- <br> edge technology, creating inspiring content, or solving complex problems, we approach <br> every challenge with zeal and determination. <br><br>
            As you explore our team page, you'll get to know the faces behind our passion. We invite you <br> to learn more about each member, their experiences, and their contributions to our shared <br> mission. Together, we are more than just a team; we are a community of like-minded <br> individuals who are united by our unwavering passion for what we do.
        </p>
    </article>

    <section class="team-members">
        <div class="pam">
            <div class="pam-img">
              <img src=""  alt="...">
            </div>
            <div class="pam-name-title">
                <h4>Pamela Swiderska</h4>
                <p>Scrum Master/Developer</p>
            </div>
        </div>


        <div class="kes">
            <div class="kes-img">
              <img src="{{ url_for('static', filename='Kes.JPG') }}" alt="...">
            </div>
            <div class="kes-name-title">
                <h4>Kes Germany</h4>
                <p>Product Owner/Developer</p>
            </div>
        </div>


        <div class="akber">
            <div class="akber-img">
              <img src=""  alt="...">
            </div>
            <div class="akber-name-title">
                <h4>Akber Ali</h4>
                <p>Developer</p>
            </div>
        </div>

        <div class="alex">
            <div class="alex-img">
              <img src="" alt="...">
            </div>
            <div class="alex-name-title">
                <h4>Alexander Bonfield</h4>
                <p>Developer</p>
            </div>
        </div>

        <div class="tom">
            <div class="tom-img">
              <img src="" alt="...">
            </div>
            <div class="tom-name-title">
                <h4>Thomas Freed</h4>
                <p>Developer</p>
            </div>
        </div>
    </section>
    
</body>

{% include 'footer.html' %}
