{% include 'navbar.html' %}

<body>
    {% with messages = get_flashed_messages %}
        {% if messages %}
        {{ message }}
        {% endif %}
        {% endwith %}

    <h1 class="bookingpage-heading">Book Online </h1>

    <div class="booking-details">
        <img src="{{ url_for('static',filename=movie_poster) }}" alt="{{ movie_title }}" class="movie-poster">
        <h1 class="film-title">{{ movie_title}}</h1>
        <div class="screening-details">
            <p>Screening ID: {{ screening_id }}</p>
            <p>Date: {{ selected_date }}</p>
            <p>Showtime: {{ time }}</p>
        </div>
    </div>
            
    <form class="bookingpage-form" method="post">
        {{ form.hidden_tag() }}

        {{ form.Adult.label }}: {{ form.Adult() }}<br>
        {{ form.Child.label }}: {{ form.Child() }}<br>
        {{ form.Concession.label }}: {{ form.Concession() }}<br>

        <input type="submit" value="Book"> 

        <br>
        <br>
        <p>*   Concession tickets - Valid for Students, OAP and Bluelights Proof required at cinema.</p>
    </form>
    
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>

{% include 'footer.html' %}
