<!DOCTYPE html>
<html>
<head>
    <title>Booking</title>
</head>
<body>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.user_id.label }}: {{ form.user_id() }}<br>
        {{ form.screening_id.label }}: {{ form.screening_id() }}<br>
        {{ form.ticket_type.label }}: {{ form.ticket_type() }}<br>
        {{ form.quantity.label }}: {{ form.quantity() }}<br>
        {{ form.discounted_ticket_number.label }}: {{ form.discounted_ticket_number() }}<br>
        {{ form.full_price_ticket_number.label }}: {{ form.full_price_ticket_number() }}<br>
        <input type="submit" value="Book">
    </form>
    

{% if message %}
<p>{{ message }}</p>
{% endif %}
</body>
</html>
