{% include 'navbar.html' %}

<body>
    
    <h1 class="cinema-services-heading">Film Classifications</h1>
    <p class="services-paragraph">
        These classifications are designed to help viewers make informed choices about the films<br> 
        they watch and ensure that content aligns with their preferences and the age-<br>
        appropriateness for themselves or their children.

<strong>G (General Audiences):</strong> Suitable for all ages. Contains no content that would offend parents<br> 
if viewed by children.

<strong>PG (Parental Guidance):</strong> Some material may not be suitable for children. Parents are urged<br> 
to provide "parental guidance."

<strong>NC-17 (Adults Only): No one 17 and under admitted. This rating signifies that the film<br>
     contains explicit sexual content or adult material that is not suitable for minors.

    </p>



</body>
{% include 'footer.html' %}