<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Forum</title>
</head>
<body>
    <h1>Discussion Board</h1>
    {% for post in all_posts %}
        <table>
            <tr>
                <td><h2>{{ post.topic }}</h2></td>
            </tr>
            <tr>
                <td>{{ post.movie.title }}</td>
            </tr>
            <tr>
                <td>{{ post.user.username }}</td>
                <td>{{ post.timestamp }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ post.content }}</td>
            </tr>
        </table>
        <h3>Comments:</h3>
        {% for comment in post.comments %}
            <table>
                <tr>
                    <td>{{ comment.user.username }}</td>
                    <td>{{ comment.timestamp }}</td>
                </tr>
                <tr>
                    <td>{{ comment.content }}</td>
                </tr>
            </table>
        {% endfor %}
        <form method="POST" action="">
            {{ comment_form.hidden_tag() }}
            {{ comment_form.user_id.label }} {{ comment_form.user_id }}
            {{ comment_form.post_id.label }} {{ post.id }}
            <input type="hidden" name="post_id" value="{{ post.id }}"> 
            <br>
            {{ comment_form.content.label }} {{ comment_form.content }}
            <br>
            {{ comment_form.submit }}
        </form>
    {% endfor %}
    <br>

    <h2>New post</h2>
    <form method="POST" action="">
        {{ post_form.hidden_tag() }}
        {{ post_form.user_id.label }} {{ post_form.user_id}}
        <br>
        {{ post_form.movie_id.label }} {{ post_form.movie_id}}
        <br>
        {{ post_form.topic.label }} {{ post_form.topic }}
        <br>
        {{ post_form.content.label }} {{ post_form.content }}
        <br>
        {{ post_form.submit }}
    </form>
</body>
</html>