<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
</head>

<body>
<footer>
    <div class="footer-main">
        <h2 class="footer-logo">QA Cinemas</h2>
        <div class="footer-row1">
            <i class="fa-solid fa-info"></i>
        <a href="#" class="footer-link">Help & FAQs</a>
        </div>
        <div class="footer-row2">
            <i class="fa-regular fa-comment"></i>
            <a href="#" class="footer-link">Discussion Board</a>
        </div>

        <div class="footer-row3">
            <i class="fa fa-handshake-o"></i>
            <a href="#" class="footer-link">Contact Us</a>
        </div>
    <div class="socials">
            <div class="footer-row4">
                <i class="fa-brands fa-instagram"></i>
                <a href="#" class="footer-link">Instagram</a>
            </div>

            <div class="footer-row5">
                <i class="fa-brands fa-facebook"></i>
                <a href="#" class="footer-link">Facebook</a>
            </div>

            <div class="footer-row6">
                <i class="fa-brands fa-x-twitter"></i>
                <a href="#" class="footer-link">X</a>
            </div>
    </div>
    </div>
</footer>

</body>
</html>