{% include 'navbar.html' %}

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flash" style="color:#ffffff">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="forum-heading">QA Cinemas Forum</h1>
    <br>
    <!-- Display Existing Posts -->
    {% for post in all_posts %}
        <div class="post">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <!-- Post Content -->
            <h2 class="post-topic">{{ post.topic }}</h2>
            <p><b class="username">{{ post.username }}</b>{{ post.timestamp }}</p>
            <p>{{ post.movie.title }}</p>
            <p>{{ post.content }}</p>
            <br>
        </div>
        
        <!-- Display Comments for Each Post -->
        {% for comment in all_comments %}
                {% if comment.responding_to == post.id | string %}
                <div class="comment">
                    <!-- Comment Content -->
                    <p><b class="username">{{ comment.username}}</b>{{ comment.timestamp }}</p>    
                    <p>{{ comment.content }}</p>
                </div>
                {% endif %}
        {% endfor %}

        <!-- Comment Form for Each Post -->
            <form class="add_comment" method="POST" action="/forum">
                {{ postform.hidden_tag() }}
                <input type="hidden" name="responding_to" value="{{ post.id }}">
                <input type="hidden" name="topic" value="{{ post.topic }}">
                <input type="hidden" name="movie_id" value="{{ post.movie_id }}">
                <div class="comment_box">
                    {{ postform.content(placeholder='Add a comment')}}
                </div>
                <div>
                    {{ postform.submit() }}
                </div>
            </form>
    {% endfor %}
    
    <!-- Create a new post -->
    <form method="POST" class="newpost-form" action="/forum">
        <h2 class="new-post">New Post</h2>
        {{ postform.hidden_tag() }}
        <input type="hidden" name="responding_to" value="Post">
        {{ postform.movie_id.label }} {{ postform.movie_id }}
        <br>
        {{ postform.topic.label }} {{ postform.topic }}
        <br>
        {{ postform.content.label }} {{ postform.content }}
        <br>
        {{ postform.submit }}
    </form>
</body>
{% include 'footer.html' %}
