{% include 'navbar.html' %}
<body>
    <section>
        <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active c-item">
                <a href="{{ url_for('view_movie', movie_id=9) }}">
                  <img src="{{ url_for('static', filename='oppenheimer.jpg') }}"  class="d-block w-100 c-img" alt="Film 1">
                </a>
                
                
              </div>
              <div class="carousel-item c-item">
                <a href="{{ url_for('view_movie', movie_id=12) }}">
                  <img src="{{ url_for('static', filename='thenun2.jpeg') }}"  class="d-block w-100 c-img" alt="Film 2">
                </a>
                <!--
                <div class="carousel-caption">
                    <h1 class="slideHeading">Blockbuster</h1>
                    <p class="slideParagraph">Film 1</p>
                    <button class="btn btn-primary">Book Now</button>
                </div>
                -->
              </div>
              <div class="carousel-item c-item">
                <a href="{{ url_for('view_movie', movie_id=8) }}">
                  <img src="{{ url_for('static', filename='scrapper.jpg') }}"  class="d-block w-100 c-img" alt="Film 3">
                </a>
                  <!-- 
                <div class="carousel-caption">
                    <h1 class="slideHeading">Comedy</h1>
                    <p class="slideParagraph">Film 1</p>
                    <button class="btn btn-primary">Book Now</button>
                </div>
                -->
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    <div class="tag-line">
        <h2>"Bringing Stories to Life, One Screen at a Time."</h2>
    </div>

    <section class="aboutUs">
        <h3 class="aboutUsHeading">About Us</h3>
        <p class="aboutUsParagraph">Welcome to QA Cinemas! A distinguished cinema chain with a rich legacy spanning over two decades since its establishment in 2004.<br> Renowned in the film industry, our cinemas are celebrated for their unique blend of contemporary blockbusters and exclusive screenings of <br>beloved classics from the 1960s to the 1990s. </p>
        <a href="{{ url_for('about') }}" class="btn btn-primary">Read More</a>
    </section>

    <section class="cardContainer">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='Classifications.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">FILM CLASSIFICATIONS</h5>
              <a href="{{ url_for('classifications') }}" class="btn btn-primary">View</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='Screens.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SCREENS</h5>
              <a href="{{ url_for('screens') }}" class="btn btn-primary">View</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='Book online.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BOOK ONLINE</h5>
              <a href="{{ url_for('view_booking') }}" class="btn btn-primary">View</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='Cinema services.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CINEMA SERVICES</h5>
              <a href="{{ url_for('cinema_services') }}" class="btn btn-primary">View</a>
            </div>
          </div>
        </section>

        
            <div class="gallery-heading">
                <h3>Currently Showing</h3>
            </div>

        <section class="listings-gallery">
          <div class="movie-list">
            <div class="movie-items">
                {% for film in films %}
                  <div class="movie-item">
                    <a href = "{{ url_for('view_movie', movie_id=film.id) }}">

                      <img src="{{ film.poster }}" alt="{{ film.title }}" class="movie-poster">
                    </a>  
                    <h3><span class="movie-title">{{ film.title }}</span></h3>
                  </div>
                {% endfor %}
            </div>
          </div>
        </section>
</body>

{% include 'footer.html' %}

