{% include 'navbar.html' %}

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style="color:#ffffff">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h3 class="login-heading">Log in</h3>
    <form method="POST">
        <div class="login-form">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="login-pwd">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="login-btn">
            <input type="submit" value="Log In">
        </div>
    </form>
    <p class="info">Don't have an account? <a href="/signup">Sign Up</a></p>


</body>
{% include 'footer.html' %}