{% include 'navbar.html' %}

<body>
    <h1 class="cinema-services-heading">QA Cinema Opening Times</h1>
    <h4 class="services-paragraph">
        Monday: 09:00 - 23:00<br><br>
        Tuesday: 09:00 - 23:00<br><br>
        Wednesday: 09:00 - 23:00<br><br>
        Thursday: 09:00 - 23:00<br><br>
        Friday: 09:00 - 23:00<br><br>
        Saturday: 09:00 - 23:00<br><br>
        Sunday: 09:00 - 23:00<br><br>
        Bank Holidays: 10:00 - 00:00
    </h4>
</body>





{% include 'footer.html' %}