{% include 'navbar.html' %}

<body>
    <h1>QA Cinema Services</h1>
    <p>
        Welcome to QA Cinemas, where your cinematic experience is our top priority. Beyond the <br>
        silver screen, we offer a range of services and amenities to enhance your visit and ensure<br>
        your time with us is nothing short of spectacular. <br><br>

        <strong>Concession Stand</strong><br> Indulge in a variety of delectable snacks and refreshments at our <br>
        concession stand. Whether you're craving classic movie munchies or a thirst-quenching<br>
        beverage, we have you covered.
    </p>

    
        <div class="menu-card">
            <div class="menucard-description">
            <h3>Citrus Squid Carpaccio</h3>
                <p>With orange zest</p>
            </div>
            <div class="price">
                <h4>25€</h4>
            </div>
            <div class="check-mark">
                <i class="fa fa-check-circle"></i>
            </div>
        </div>
</body>

{% include 'footer.html' %}