{% include 'navbar.html' %}
    
<body>

    <header>
        <div class="logo">
          <h1>QA Cinemas</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('') }}">What's On</a></li>
                <li><a href="{{ url_for('') }}">Book Online</a></li>  
                <li><a href="{{ url_for('') }}">Login</a></li>
                <li><a href="{{ url_for('') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>    
            </ul>
        </div>
    </header>



    <h3 class="signup-heading">Sign Up</h3>
    <form method="POST">
        <div class="email-details">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="username-details">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="user-pwd">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="confirm-pwd">
            <label for="confirmation">Confirm Password:</label>
            <input type="password" name="confirmation" id="confirmation" required>
        </div>
        <div class="signup-btn">
            <input type="submit" value="Sign Up">
        </div>
    </form>
    <p class="existing-user">Already have an account? <a href="/login">Log In</a></p>

</body>
{% include 'footer.html' %}